nav{
  position: sticky;
  top: 0px;
  text-decoration: none;
}
a{
    text-decoration:none;
}
h2 .fas{
    padding: 0px;
    text-align: center;
}

div{
    text-align:center;
    
}

div h2 {
    width:350px;
    transition: transform .2s; /* Animation */
    border-bottom: 2px solid red; 
    border-right: 2px solid red;
    border-radius: 30%;
    display:inline-block;
    
}

div ul{
    text-align:left;
}

.period{
    text-align:right;
    display:none;
}

div h2:hover{
    transform: scale(1.5);
}
#name{
    font-size: 1.2em;
    border:none;
    
}

ul{
    border-bottom: 1px solid red;
    box-shadow: 17px 0px 3px 2px rgba(0,0,0,0.12), 
                7px 19px 3px 2px rgba(0,0,0,0.24);
    margin: 0px;
    padding: 15px;  
}


#entete{
    width: auto;
    height: auto;
    border: 2px solid red;
    border-radius: 5px;
    padding: 3px;
    
}
#identite{
    padding: 10px 10px;
    float: bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}


#titres{
    list-style-type: none;
    padding: 0;
    background: #f2f2f2;
    text-align: center;
    font-size: 1.3em; 
    border: 1px solid blue;
    line-height: 41px;
    margin: 3px;
    transition: transform 1s; /* Animation */
    opacity:0.5;
}
#titres:hover{
    transform: scale(1.1);
    opacity:1;
}

#titres li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    margin-right: 15px; 
    border-bottom: 2px solid red; 
    border-right: 2px solid red;
    border-radius: 30%;    
}

#titres li a{
    display:block;
    padding: 8px 21px;
    color: #333;
    text-decoration: none;
    text-align: left;
    transition: transform .2s; /* Animation */
    
}


#fleche{
    float:right;
}


#titres li a:hover{
    transform: scale(1.5);
}


#titres li ul{
    text-align: left;
}

#informatique {
    min-width: 100%; /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    text-align: left;
    padding: 0px;
} 

#titres :hover #informatique{
    display: block;
    
}  

#informatique li{
    display: block;
} 

#photo{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height:200px;

}
#photo img{
    border-radius: 10%;
    height:auto;
}

#nomAdresse{
    float: right;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    transition: transform 1s; /* Animation */
    border-radius:10%;
}

#nomAdresse:hover{
    transform: scale(1.5);
}
ul ul,ol { 
    transition: transform .2s; /* Animation */
}

ul ul:hover{
    transform: scale(1.1);
    
}
body{
    background-image: url("images/infor1.jpg");
    
    border:1px solid blue;
    padding: 10px;
    margin: 100px;   
}

footer{
    display: flex;
    height: 50px;
    text-align: center;
    
}
#home{
    position:fixed;
    right: 15px;
    bottom: 15px;
}

#reseauxSociaux{
    
    flex: 1.2;
    height: 50px;
    width: auto;   
}

#reseauxSociaux img{
    margin-right: 5px;
}

@media all and (max-width: 1024px){
    body{
        margin: 50px;
    }
    #photo{
        float: bottom;
        width: auto;
        display:none;
    }
    #nomAdresse{
        background-image: url("images/rsz_3136.jpg");
        transition: transform 1s; /* Animation */
        
    }
    #nomAdresse{
        transform: scale(1.05);
    }
    
    #entete{
        text-align: center;
        height:auto;
        width:auto;
        
    }
    #identite{
       
        text-align: center;
        border: 1px solid black;
        display: inline-block;
    }
    #nomAdresse{
        width: auto;
        
    }
    #titres {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #titres li{
        text-align: center;
    }
    ul div{
        font-size: 75%;
        width:auto;
    }
    #titres li a{
        font-size: 75%;
    }
    #titres li a:hover{
        transform: scale(1.05);
    }
    #titres:hover{
        transform: scale(1.03);
        opacity:1;
    }
    #home{
    position:fixed;
    right: 5px;
    bottom: 5px;
}
}
    
}
@media all and (max-width: 600px){
    ul, ol{
        padding: 5px;
        
    }
    body{
        margin: 10px;
    }
}


header h1{
    margin: 10px 680px;
    width: 150px;
    border: 1px solid blue;
    
}

section {
    width: 450px;
    border: 1px solid blue;
    
}
img{
    overflow: auto;
    width: auto;
    transition: transform 1s; /* Animation */
}

img:hover{
    transform: scale(1.5);
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}