@-webkit-keyframes mymove {
	50% {border: 30px solid #0060A0;}
}

@keyframes mymove {
	50% {border: 30px solid #0060A0;}
}

html {
	background-color: #444;
	padding: 0 1em;
}




body {
	background-color: #FFF;
	font-family: 'Lato', sans-serif;
	margin: 1em auto;
	max-width: 100% auto;
	height: 209em; 
}



@media only screen and (max-width: 1025px) {
	body {
		height: 218em;
	}


}

nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	position: fixed;

}
nav ul li {
	float: center;
	width: 348px;
	height: 25px;
	background-color: black;
	opacity: .8;
	line-height: 40 px;
	text-align: center;
	font-size: 20px;
	margin-right: 2px;
	display:inline-block;
}


ul li a{
	text-decoration: none;
	color: white;
	display: block;

}

ul li a:hover {
	background-color: #1E90FF;
	-webkit-transform:
	rotate(2deg);
	font-weight: bold;
}

ul li ul li {
	display: none;
}

ul li:hover ul li {
	display: block;
}

#section-left {
	width: 35%;
	float: left;
	height: 209em;
	background-color: #4682B4;
	color: #fff;
	text-align: center;
}
#section-left .section {
	margin-top: 40%;
	padding: 1em;
}

.circle img{
	width: 50%;
	border-radius: 50%;
	border: 4px solid white;


}

.grad {
	text-decoration: overline underline;
}




p {
	text-align: left;
}

.container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding: 10px;
	color: white;
}

.html {width: 85%; 
	background-color: #2196F3;
}
.python {width: 80%; 
	background-color: #2196F3;
}
.c {width: 75%; 
	background-color: #2196F3;
}
.java {width: 90%; 
	background-color: #2196F3;
}
.sql {width: 82%; 
	background-color: #2196F3;
}
.php {width: 90%; 
	background-color: #2196F3;
}
.paradygm {width: 85%; 
	background-color: #2196F3;
}









.intro .content {
	margin-bottom: 20px;
}

#contact {
	margin-top: 80em;
	text-align: left;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-shadow: 3px 2px black;
}

#nom {
	border: 1px solid lightblue;
	-webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
	animation: mymove 5s infinite;
	
	font-family: 'Comic Sans MS', cursive;
	font-style: italic;
}

#section-right {
	margin-top: 30px;
	width: 65%;
	float: right;
	
}


#section-right .section {
	margin: 0 0 30px 0;
}
.partie {
	padding: 2em;
}

.partie1 {
	
	font-weight: bold;
}




.fa {
	margin-right: 15px;
}
.partie .title {
	color: #4682B4;
	font-size: 1.3em;
	font-variant: small-caps;
	letter-spacing: 0.1em;
	font-weight: bold;
	border-bottom: 2px solid #f2f2f2;
}
a:link {
	color: #fff;
	text-decoration: none;
}
a:visited {
	color: #fff;
	text-decoration: none;
}
a:hover {
	color: #fff;
	text-decoration: none;
}
a:active {
	color: #fff;
	text-decoration: none;
}
h2 {
	text-transform: uppercase;
	font-size: 1em;
}
h3 {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: normal;
}




.icon-bar {
	position: fixed;


	top: 86%;
	left: 94%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 13px;
	transition: all 0.3s ease;
	color: white;
	font-size: 20px;
}

.icon-bar a:hover {
	background-color: #000;
}

.facebook {
	background: #3B5998;
	color: white;
}

.twitter {
	background: #55ACEE;
	color: white;
}

.google {
	background: #dd4b39;
	color: white;
}

.linkedin {
	background: #007bb5;
	color: white;
}

.youtube {
	background: #bb0000;
	color: white;
}



@media only screen and (max-width: 1025px) {
	body {

		height: 440%;
	}

	@media only screen and (max-width: 768px) {
		body {

			height: 490%;
		}
		h1{
			font-size: 90%;
		}
	}

	@media only screen and (max-width: 425px) {
		body {

			height: 810%;

		}
		h1{
			font-size: 65%;
		}

		#contact{
			font-size: 65%;
		}

		.icon-bar {

			left: 80%;

		}
	}

	@media only screen and (max-width: 375px) {
		body {

			height: 975%;


		}
		h1{
			font-size: 60%;
		}
	}

	@media only screen and (max-width: 320px) {
		body {
			
			height: 1210%;

		}
		h1{
			font-size: 50%;
		}
	}

}