/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 680px;}
}




#dep-menu{
    margin-top: -35px;
}



img {
	width: 145px;
	margin-top: -45px;
}

#img1 {
	
	margin-left: 250px;
	margin-top: 0px;
	width: 100%;

}

#aide .material-icons{
    font-size: 50px;
}

#mini-title {
    color: #6495ED;
    text-shadow: 3px 2px lightblue;
    font-style: italic;
    font-size: 40px;
    margin-top: 0px;
  position: relative;
  -webkit-animation: mymove 10s infinite;  /*Safari 4.0 - 8.0 */
  animation: mymove 10s infinite;
}

#masquex {
    color: white;
    font-size: 40px;
    margin-top: 0px;
}

#img2 {
	margin-top: 10px;
}

#test  .card-panel{
    border-radius: 10%;
}
#nosimages{
    height:110%;
}

#barre{
    
    background-color: #2196F3 !important;
}

#fil{
    padding-left: 20px;
    background-color: white;
    height:30px; 
}
#fil div {
}
#fil div div{
    line-height:30px;
}
#fil div div a{
    color: #2196F3 !important;
    height:10px;
    font-size: 12px;
    
}

#fil div div a:hover{
    text-decoration: underline;
}
#entete{
    height: 49px;
}

#entete div a img{
    height:200px;
    width: 200px;
}

#reseaux a i:hover{
    background-color:yellow;
}

.fa-facebook:hover{
    color: lightblue;
}

tr #portail.div{
    
    border: 1px solid #ccc;
    border-radius: 5%;
    background: #fff;
    transition: transform .4s; /* Animation */
}

tr:hover {
    transform: scale(1.02);
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

#portail{
    background-image: url("../vues/sections/images/soccer-933037_960_720.jpg");
}





.fa-twitter:hover{
    color: #1B4F72;
}

.fa-linkedin:hover{
    color: #33A2FF;
}

.fa-google-plus:hover{
    color: #E56B4D;
}

.fa-pinterest:hover{
    color: red;
}

#navicon{
    font-size: 25px;
    margin-top: 9px;


}
#navicon:hover{
    font-size: 40px;
    margin-top: 9px;

}


#navbar1 {
    margin-top: -15px;
    margin-left: -30px;
    margin-right: -24px;
}

.fa-envelope{
    transition: transform .2s; /* Animation */
    font-size: 40px;
}

.fa-envelope:hover{
    transform: scale(1.5);

}

#portail{
      background: #E0E0E0;
}
body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      <!-- background: red; -->
      background-image: url("images/logo1.png");
      <!-- background-image: url("../images/infor.png") ; -->
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }
    .creer{
        background-image: url("../images/logo1.png");
    }
    .logo{
        margin: 0px;
        padding: 0px;
        border: 2px solid blue;
        border-radius:5px;
        
    }

#conditions li{
    display:inline-block;
    margin-left:10px;
    font-family:Courrier New;
    
}


#conditions li a:hover{
    text-decoration:underline;
    color: #cccccc;
}
#conditions li a {
    margin-right:10px;
    color:#e6e6e6;
    
}
#conditions {
    margin : 0px;
    
}

.question{
    height:180px;
    border: 1px solid black;
}

.blanc{
    height:140px;
}

// FIX SIDENAV SPACING
.side-nav li>a {
  padding: 0 16px;
}
//FIX SIDEBAR DIVIDERS
.side-nav .divider {
  margin:0;
  height:8px;
  border-bottom:1px solid #e0e0e0;
  background-color: transparent;
}

// SIDENAV HEADER
.sidenav-header {
background: url("../images/user-bg.jpg") no-repeat center center;
background-size: cover;
margin-bottom: 0px;
padding: 15px 0 0 15px;
  .row {
    margin-bottom: 0;
  }
}
.sidenav-footer {
margin-bottom: 0px;
padding: 0;
  .row {
    margin-bottom: 0;
    .social-icons {
      a {
        opacity: 0.5;
        padding: 0;
        text-align:center;
        &:hover {
          background-color:inherit;
          opacity: 1;
        }
      }
    }
  }
}


